<select >
    {{#each myapps}}
    <option>{{name}}</option>
    {{/each}}
</select>

<select>

    {{#each tiers}}
    <option>{{tierName}}</option>
    {{/each}}
</select>
<a href="#" class="btn btn-primary">{{t "Subscribe"}}</a>
