<div>
    <table class='table' id='tableApps'>
        <thead>
        <th>Name</th>
        <th>Tier</th>
        <th>Callback URL</th>
        <th>Description</th>
        </thead>
        <tbody>

        {{#each apps}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{tier}}
            </td>
            <td>
                {{callbackUrl}}
            </td>
            <td>
                {{description}}
            </td>
            <!--td>
                <a class='icon-edit'> Edit </a>
            </td>
            <td>
                <a class='icon-trash'> Delete </a>
            </td-->
        </tr>
        {{/each}}

        </tbody>
    </table>
</div>