<div>
    <h4>Subscriptions</h4>

    <small>Keys are generated per Application which allows to use a single key for multiple APIs and subscribe multiple
        times to a single API ,with different SLA levels.
    </small>
    <hr/>

    <div class='well'>
        <h5>Applications With Subscriptions</h5>

        <select id='subscription-selection'>
            {{#each appsWithSubs}}
            <option>{{name}}</option>
            {{/each}}
        </select>
    </div>

    <div id='subscription-control-panel'>

    </div>

    <div id='subscription-keys'>

    </div>

    <div id='subscription-list'>


    </div>


    <script type='text/template' id='subscription-control-panel-template'>
        {{> subscription-control-panel}}
    </script>
    <script type='text/template' id='subscriptions-keys-template'>
        {{> subscription-keys}}
    </script>
    <script type='text/template' id='subscriptions-list-template'>

    </script>


</div>