<div>

    <div class='row-fluid'>
        <legend>Keys {{environment}}</legend>

        <div class='span8'>
            KEYS
        </div>

        <div class='span4'>

            <div class='row'>
                   First Row
            </div>

            <div class='row'>
                   Second Row
            </div>

        </div>

    </div>

</div>