<!---
Description:This partial is used to render the APIs to which the user has subscribed.It is rendered under the
            subscriptions view
            Note: This template is rendered in the client side
Filename: subscriptions-list.hbs
Created:13/1/2014
-->
<hr/>
<div class='row-fluid'>
    <div class='span3 asset'>
        API 1
    </div>
    <div class='span3 asset'>
        API 2
    </div>
</div>
